body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white; /* Ensure the header text color is white */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.menu-item {
    margin: 10px 0;
}

.menu-item label {
    margin-right: 10px;
}

#selected-items {
    margin-top: 20px;
    font-weight: bold;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

section {
    padding: 20px;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

img {
    float: right;
  }